body{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #7e7e7f;
    letter-spacing: .06rem; /*espacio entre palabra*/
}

html{
    scroll-behavior: smooth;/*transtion de link*/
}

h1, h2, h3, h4, h5, h6 {

    font-family: 'Titillium Web', sans-serif;
    color: #1a1a1a;
}

.bg-light {background-color: #ffffff !important;}
.bg-grey{background-color: #f7f7f8;}

.navbar{
 min-height: 80px;
 box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


.navbar-light .navbar-toggler {
    color: rgb(252, 252, 252) !important; 
    border-color: rgba(253, 250, 250, 0.089) !important; 
}

.btn {
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 50px;
    min-width: 160px;
    max-width: 170px;
}

.btn-primary {
    background-color: #8d7f4b !important;
    color: #ffffff !important;
    border: 1px solid #8f814f !important;
}


.btn-primary:hover  {
    color: #fff;
    background-color: #af9e5f !important;
    border-color: #af9e5f !important;
}

.text-primary {
    color: #8d7f4b !important ;
    text-decoration: none;
}

a.text-primary:focus, a.text-primary:hover {
    color: #8d7f4b  !important;
    text-decoration: none;
}


.logo{
    min-width: 50px;
    max-width: 60px;
}

section {
    padding: 100px 0;
}

.badge-primary{
    background-color:#8d7f4b !important ;
}

.bg-primary {
    background-color: #8d7f4b!important;
}

.btn-secondary{
    background-color: #ffffff !important;
    color: #000;
}

.btn-secondary {
    background-color: #ffffff !important;
    color: #000 !important;
    border-color: #ffffff !important;
}
.btn-secondary:hover{
    color: #000 !important;
}

footer{
    padding: 60px 0 30px 0;
}

footer a {
    color: #000;
    text-decoration: none !important;
}

footer a:hover{
    color: #000;
    text-decoration: none !important;
}

